{% extends "base.html.twig" %}

{% block head %}
	{{ parent() }}
	<meta name="usuariId" value="{{ usuari.id ?? "null" }}">
	<meta name="llibre" value="{{ llibre.id }}">
	<meta name="obres" value="{{ llibre.obres|map(o => o.id)|join(",") }}">
	{% if mapaLiterari or usuari %}
		{% include "leaflet.twig" %}
	{% endif %}
{% endblock %}


{% block content %}
	<div class="grid justify-items-center sm:justify-items-start grid-cols-1 sm:grid-cols-4 lg:grid-cols-5 gap-4 mt-10">
		<div id="llibre-coberta" class="max-w-[225px] sm:w-full sm:col-span-1 lg:col-span-1 text-center">
			<img class="object-contain rounded-md shadow-klit-dark shadow-lg" src="data:image/jpg;base64,{{llibre.coberta}}" alt="{{llibre.titol}}">
			{% if usuari and biblioteca == null %}
				<div class="mt-3 grid justify-items-center">
					<div id="nou_biblioteca" class="w-fit px-2 py-1 border-2 border-klit-lila hover:bg-klit-lila hover:text-white rounded-2xl cursor-pointer">
						<p>Afegir a la biblioteca</p>
					</div>
				</div>
			{% endif %}
		</div>
		<div id="llibre-info" class="w-full sm:col-span-3 lg:col-span-4 sm:ml-8 md:ml-4 ms:ml-2">
			<h1>{{llibre.titol}}</h1>
			<h2 class="italic">{{llibre.autors|map(a => a.nomComplet)|join(", ", " i ")}}</h2>
			<div class="table table-auto border-separate border-spacing-x-2 text-left w-auto -ml-2">
				<dl class="table-row">
					<dt class="table-cell font-bold">Editorial</dt>
					<dd class="table-cell">{{llibre.editorial}}</dd>
				</dl>
				<dl class="table-row">
					<dt class="table-cell font-bold">Isbn</dt>
					<dd class="table-cell">{{llibre.isbn}}</dd>
				</dl>
				<dl class="table-row">
					<dt class="table-cell font-bold">Pàgines</dt>
					<dd class="table-cell">{{llibre.pagines}}</dd>
				</dl>
				<dl class="table-row">
					<dt class="table-cell font-bold">Idioma</dt>
					<dd class="table-cell">{{llibre.idioma}}</dd>
				</dl>
				{% if llibre.obres|length > 1 %}
					<dl class="table-row">
						<dt class="table-cell font-bold break-all">Obres</dt>
						<dd class="table-cell">
							{% for obra in llibre.obres %}
								<a href="{{basePath}}/obra/{{obra.id}}" class="hover:text-klit-lila hover:underline">{{obra.titolOriginal}}
									({{obra.anyPublicacio}})</a>
								{{not loop.last ? ", "}}
							{% endfor %}
						</dd>
					</dl>
				{% endif %}
				{% if biblioteca %}
					{% if biblioteca.condicio %}
						<dl class="table-row">
							<dt class="table-cell font-bold">Tipus</dt>
							<dd class="table-cell">{{biblioteca.condicio}}</dd>
						</dl>
					{% endif %}
					<dl class="table-row">
						{% if biblioteca.obtingut %}
							<dt class="table-cell font-bold">Obtingut de</dt>
							<dd class="table-cell">{{biblioteca.obtingut}}</dd>
						{% endif %}
						{% if biblioteca.motiu %}
							<dt class="table-cell font-bold">Motiu</dt>
							<dd class="table-cell">{{biblioteca.motiu}}</dd>
						{% endif %}
					</dl>
					{% if biblioteca.dataObtencio %}
						<dl class="table-row">
							<dt class="table-cell font-bold">Obtingut el</dt>
							<dd class="table-cell">{{biblioteca.dataObtencio}}</dd>
						</dl>
					{% endif %}
				</dl>
				<dl class="table-row">
					{% if biblioteca.preu %}
						<dt class="table-cell font-bold">Preu</dt>
						<dd class="table-cell">{{biblioteca.preu}}€</dd>
					{% endif %}
					{# TODO: Lloc de compra #}
				</dl>
			{% endif %}

		</div>
	</div>
</div>
{% include "Components/Llibre/mapaLiterari.html.twig" %}
{% if cites or usuari %}
	{% include "Components/Llibre/cites.html.twig" %}
{% endif %}{% endblock %}{% block js %}
{{ parent() }}
{% if usuari %}
	<script src="{{basePath}}/js/llibreUsuari.js"></script>
{% endif %}
{% if mapaLiterari or usuari %}
	<script src="{{basePath}}/js/mapa/mapaLiterari.js"></script>
	<script src="{{basePath}}/js/mapa/mapaLiterariLlibre.js"></script>
{% endif %}
{% if usuari and biblioteca %}
	<script src="{{basePath}}/js/cites.js"></script>
	<script src="{{basePath}}/js/mapa/mapaLiterariDin.js"></script>
{% endif %}{% endblock %}
