{% extends "base.html.twig" %}

{% block content %}
	<h1>Afegir llibre</h1>
	<form id="form-llibre-nou">
		<div class="flex flex-row flex-wrap mx-auto">
			<div class="labelOnInput w-128 shrink">
				<label for="llibre_titol">Títol*</label>
				<input type="text" class="input-item w-full" id="llibre_titol" name="llibre_titol">
			</div>
			<fieldset class="basis-full border-1 border-klit-dark p-2 rounded-md">
				<legend>
					<i class="fa-solid fa-book"></i>
					Obra
				</legend>
				<div class="flex flex-row flex-wrap">
					<div class="labelOnInput basis-full md:basis-1/2 md:pr-4">
						<label for="obra_titol_original">Títol original*</label>
						<input type="text" class="input-item basis-full" id="obra_titol_original">
					</div>
					<div class="labelOnInput basis-full md:basis-1/2">
						<label for="obra_titol_catala">Títol català</label>
						<input type="text" class="input-item basis-full" id="obra_titol_catala" placeholder="Omplir si l'original no és en català">
					</div>
					<div class="labelOnInput pr-4">
						<label for="obra_any_publicacio">Any publicació</label>
						<input type="text" class="input-item" size="4" id="obra_any_publicacio">
					</div>
					<div class="labelOnInput">
						<label for="obra_idioma_original">Idioma original</label>
						<select class="input-item" name="obra_idioma_original" id="obra_idioma_original">
							<option selected disbled></option>
							{% for idioma in idiomes %}
								<option value="{{idioma.id}}">{{idioma.idioma}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<fieldset class="border-1 border-klit-dark p-2 rounded-md">
					<legend>
						<i class="fa-solid fa-user-pen"></i>
						Autor/a
					</legend>
					<div class="labelOnInput">
						<label for="obra_autor">Autor/a</label>
						<select class="input-item max-w-[300px] md:max-w-md" name="obra_autor" id="obra_autor">
							<option selected></option>
							{% for autor in autors %}
								{% if autor.nom == "" and autor.cognoms == "" %}
									<option value="{{autor.id}}">Anònim</option>
								{% else %}
									<option value="{{autor.id}}">{{autor.cognoms}},
										{{autor.nom}}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</fieldset>
			</fieldset>
			<div class="labelOnInput w-full sm:w-3/7 sm:max-w-64 sm:pr-4">
				<label for="llibre_isbn">ISBN</label>
				<input type="text" class="input-item" id="llibre_isbn" name="llibre_isbn">
			</div>
			<div class="labelOnInput w-full sm:w-3/7 sm:max-w-64 sm:pr-4">
				<label for="llibre_editorial">Editorial</label>
				<input type="text" class="input-item" id="llibre_editorial" name="llibre_editorial">
			</div>
			<div class="labelOnInput w-full sm:w-1/7">
				<label for="llibre_pagines">Pàgs.</label>
				<input type="text" class="input-item" id="llibre_pagines" name="llibre_pagines">
			</div>
			<div class="basis-full h-0"></div>
			<div class="labelOnInput max-xs:w-1/2 pr-4">
				<label for="llibre_obtingut">Obtingut de</label>
				<input type="text" class="input-item" name="llibre_obtingut" id="llibre_obtingut">
			</div>
			<div class="labelOnInput max-xs:w-1/2 xs:pr-4">
				<label for="llibre_motiu">Motiu</label>
				<input type="text" class="input-item" name="llibre_motiu" id="llibre_motiu">
			</div>
			<div class="labelOnInput">
				<label for="llibre_data_obtencio">Obtingut el</label>
				<input type="date" class="input-item" name="llibre_data_obtencio" id="llibre_data_obtencio">
			</div>
			<div class="basis-full h-0"></div>
			<div class="labelOnInput w-16">
				<label for="llibre_preu">Preu</label>
				<input type="text" class="input-item" name="llibre_preu" id="llibre_preu">
			</div>
			{# TODO: Lloc de compra i preu #}
		</div>
		<input type="submit" class="float-right px-1 mt-2 border-2 rounded-lg cursor-pointer border-klit-lila hover:bg-klit-lila hover:text-orange-100" value="Afegir">
	</form>
{% endblock %}
{% block js %}
	{{parent()}}
	<script src="{{basePath}}/js/llibre/llibreNou.js"></script>
{% endblock %}
