{% extends "base.html.twig" %}
{% from "Components/Macros/pagination.html.twig" import pagination %}
{% from "Components/Macros/autors.html.twig" import autorsComplet %}

{% block content %}
	{% if usuari and usuari.nivell < 2 %}
		<a href="{{basePath}}/llibre/nou" title="Afegir llibre">
			Afegir llibre
		</a>
	{% endif %}
	<div class="my-3">
		{{ pagination(pagina, paginaTotal, "llibre") }}
	</div>
	<table>
	{% for llibre in llibres %}
		<tr>
			<td>
				<a href="{{basePath}}/llibre/{{llibre.id}}" class="hover:text-klit-lila hover:underline">{{llibre.titol}}</a>
			</td>
			<td>{{ autorsComplet(llibre.autors) }}</td>
			<td class="hidden sm:table-cell">{{llibre.editorial}}</td>
			<td class="hidden lg:table-cell text-center">{{llibre.pagines}}</td>
			<td class="hidden lg:table-cell text-center">{{llibre.isbn}}</td>
			<td class="hidden sm:table-cell">{{llibre.idioma}}</td>
		</tr>
	{% endfor %}
	</table>
	<div class="my-3">
		{{pagination(pagina, paginaTotal, "llibre") }}
	</div>
{% endblock %}

{% block js %}
	<script src="{{basePath}}/js/utils/paginacio.js"></script>
{% endblock %}
