<header id="header" class="bg-klit-dark w-full text-white flex justify-between items-center">
	<div>
		<a href="{{basePath}}"><img src="{{basePath}}/img/kartalit_logo.png" alt="Logo Kartalit" class="w-32 ml-1 sm:ml-5"></a>
	</div>
	<nav class="flex">
		<div class="flex items-center">
			<div class="header-item mr-2">
				<a href="{{basePath}}/llibre/tots" class="text-white">Tots els llibres</a>
			</div>
			{% if usuari == null %}
				<div class="header-item">
					<a href="{{basePath}}/login" class="text-white">Inicia sessió</a>
				</div>
			{% else %}
				<div class="header-item">
					<a href="{{basePath}}/api/auth/logout" class="text-white">{{ usuari.usuari }}</a>
				</div>
			{% endif %}
		</div>
	</nav>
</header>
