<header class="grid grid-cols-[auto_1fr_auto] w-full bg-klit-dark text-white">
	<div class="block w-32 ml-2 sm:ml-5 py-4">
		<a href="{{basePath}}"><img src="{{basePath}}/img/kartalit_logo.png" alt="Logo Kartalit" class=""></a>
	</div>
	<div class="flex row-start-2 col-start-1 col-span-3 sm:row-start-1 sm:col-start-2 sm:col-span-1 justify-center p-4 -mt-2 sm:mt-0">
		{% include "Components/buscador.html.twig" %}
	</div>
	<nav class="flex justify-end pt-1">
		<div class="block header-item relative">
			<a href="{{basePath}}/llibre/tots">Tots els llibres</a>
		</div>
		{% if usuari == null %}
			<div class="block header-item relative">
				<a href="{{basePath}}/login" title="Inicia la sessi贸">Inicia sessi贸</a>
			</div>
		{% else %}
			<div id="desplegable" class="block header-item relative">
				<a href="javascript:void(0)">{{usuari.usuari}}</a>
				<ul class="hidden absolute bg-klit-dark right-0 w-max mt-3">
					<a href="{{basePath}}/perfil" title="Visita el teu perfil">
						<li class="header-item">Perfil</li>
					</a>
					<a href="{{basePath}}/biblioteca" title="Visita la teva biblioteca">
						<li class="header-item">Biblioteca</li>
					</a>
					<a href="{{basePath}}/mapa-literari" title="Visita el teu mapa literari">
						<li class="header-item">Mapa Literari</li>
					</a>
					<a href="{{basePath}}/api/auth/logout" title="Tanca la sessi贸">
						<li class="header-item">Tanca la sessi贸</li>
					</a>
				</ul>
			</div>
		{% endif %}
	</nav>
</header>
