{% macro pagination(pagina, paginaTotal, id = "entity") %}
	<nav id="pagination-{{id}}" class="flex flex-row justify-center">
		{% set paginaPropera = 3 %}
		{% if pagina > 1 %}
			<div id="pagination-{{id}}-inici" class="pagination" onclick="carregarPagina(1)">
				<i class="fa-solid fa-backward"></i>
			</div>
			<div id="pagination-{{id}}-enrere" class="pagination" onclick="carregarPagina({{pagina - 1}})">
				<i class="fa-solid fa-backward-step"></i>
			</div>
		{% endif %}

		{# Anteriors #}
		{% for i in range(pagina - paginaPropera, pagina - 1) %}
			{% if i > 0 %}
				{% set j = pagina - i %}
				{% set hideResponisve = j > 1 ? "hidden sm:inline-block" : "" %}
				<div class="pagination {{hideResponisve}}" onclick="carregarPagina({{i}})">{{i}}</div>
			{% endif %}
		{% endfor %}
		<div class="pagination bg-klit-dark text-orange-50">{{pagina}}</div>
		{# Posteriors #}
		{% for i in range(pagina + 1, pagina + paginaPropera) %}
			{% if i <= paginaTotal %}
				{% set j = i - pagina %}
				{% set hideResponisve = j > 1 ? "hidden sm:inline-block" : "" %}
				<div class="pagination {{hideResponisve}}" onclick="carregarPagina({{i}})">{{i}}</div>
			{% endif %}
		{% endfor %}

		{% if pagina < paginaTotal %}
			<div id="pagination-{{id}}-endavant" class="pagination" onclick="carregarPagina({{pagina + 1}})">
				<i class="fa-solid fa-forward-step"></i>
			</div>
			<div id="pagination-{{id}}-final" class="pagination" onclick="carregarPagina({{paginaTotal}})">
				<i class="fa-solid fa-forward"></i>
			</div>
		{% endif %}


	</nav>
{% endmacro %}
