{# Requereix cites #}
<div id="cites-block" class="w-full mt-8">
	<div class="grid grid-cols-2">
		<div>
			<h1>Cites</h1>
		</div>
		{% if usuari and biblioteca != null %}
			<div class="px-2 text-right text-3xl text-klit-dark">
				<button id="add-cita-boto" class="hover:text-klit-lila cursor-pointer">
					<i class="fa-solid fa-feather-pointed" title="Afegeix una cita"></i>
				</button>
			</div>
		{% endif %}
	</div>

	<div id="cites-list" class="px-1 mt-4">
		<div id="cita-nova" class="mb-4 p-2 rounded-lg shadow-xs shadow-klit-dark hidden">
			<form id="form-cita-nova">
				<p class="mb-2">
					<input type="text" name="pagina" id="nou_cita_pagina" size="5" class="input-item mr-2 focus:border-klit-lila" placeholder="Pàg.">
					<label for="nou_cita_privat">Privat
					</label><input type="checkbox" name="privat" id="nou_cita_privat">
				{# TODO: Avisar que conté spoilers #}
					{# TODO: Afegir llista d'obres per quan n'hi hagi més d'una #}
				</p>
				<p class="mb-2">
					<textarea name="cita" id="nou_cita_cita" rows="5" class="w-full input-item" placeholder="Cita" required="true"></textarea>
				</p>
				<p class="mb-2">
					<textarea name="comentari" id="nou_cita_comentari" rows="5" class="w-full input-item" placeholder="Comenatri sobre la cita (opcional)"></textarea>
				</p>
				<p class="text-right">
					<input type="submit" class="px-1 mt-2 border-2 rounded-lg cursor-pointer border-klit-lila hover:bg-klit-lila hover:text-white" value="Desar">
				</p>
			</form>
		</div>
		{% if cites %}
			{% for cita in cites %}
				<div class="flex flex-row mb-4">
					{% set privateClass = cita.privat ? "text-klit-dark" : "" %}
					<div id="cita_{{cita.id}}" class="grow p-2 rounded-lg shadow-xs hover:shadow-sm shadow-klit-dark {{privateClass}}">
						<p id="cita_{{cita.id}}_cita" class="indent-4 text-justify">{{cita.cita|nl2br}}</p>
						<p id="cita_{{cita.id}}_pag" class="text-right italic">Pag.&nbsp{{cita.pagina}}</p>
						{% set hiddenClass = cita.comentari ? "" : "hidden" %}
						<p id="cita_{{cita.id}}_comentari" class="indent-4 text-justify text-sm {{hiddenClass}}">({{cita.comentari}})</p>
					</div>
					{% if usuari and biblioteca != null and cita.usuari == usuari.id %}
						<div class="flex-none flex flex-col justify-center mx-2 text-klit-dark">
							<div class="p-1">
								<button id="edit-cita-{{cita.id}}" class="cursor-pointer hover:text-klit-lila" onclick="citaEdita({{cita.id}})">
									<i class="fa-solid fa-pen-to-square" title="Edita la cita"></i>
								</button>
							</div>
							<div class="p-1">
								<button id="privat-cita-{{cita.id}}" class="cursor-pointer hover:text-klit-lila" onclick="citaPrivat({{cita.id}}, {{cita.privat|json_encode}})">
									{% if cita.privat %}
										<i class="fa-solid fa-unlock" title="Marca la cita com a no privada"></i>
									{% else %}
										<i class="fa-solid fa-lock" title="Marca la cita com a privada"></i>
									{% endif %}
								</button>
							</div>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		{% elseif usuari %}
			<div class="text-center">
				<p>No hi ha cites. Afegeix-ne!</p>
			</div>
		{% endif %}
	</div>
</div>
