{# Requereix cites #}
<div id="cites-block" class="w-full mt-8">
	<div class="grid grid-cols-2">
		<div>
			<h1>Cites</h1>
		</div>
		{% if usuari and biblioteca != null %}
			<div class="px-2 text-right text-3xl text-klit-dark">
				<button id="add-cita-boto" class="hover:text-klit-lila cursor-pointer">
					<i class="fa-solid fa-square-plus" title="Afegeix una cita"></i>
				</button>
			</div>
		{% endif %}
	</div>

	<div id="cites-list" class="px-1 mt-4">
		<div id="cita-nova" class="mb-4 p-2 rounded-lg shadow-xs shadow-klit-dark hidden">
			<form id="form-cita-nova">
				<p class="mb-2">
					<input type="text" name="pagina" id="nou_cita_pagina" size="5" class="shadow-xs shadow-klit-dark rounded-lg p-2 mr-2 focus:border-klit-lila" placeholder="Pàg.">
					<label for="nou_cita_privat" class="font-semibold">Privat
					</label><input type="checkbox" name="privat" id="nou_cita_privat" label="Privada">
				{# TODO: Avisar que conté spoilers #}
					{# TODO: Afegir llista d'obres per quan n'hi hagi més d'una #}
				</p>
				<p class="mb-2">
					<textarea name="cita" id="nou_cita_cita" rows="5" class="w-full shadow-xs shadow-klit-dark rounded-lg p-2" placeholder="Cita" required="true"></textarea>
				</p>
				<p class="mb-2">
					<textarea name="comentari" id="nou_cita_comentari" rows="5" class="w-full shadow-xs shadow-klit-dark rounded-lg p-2" placeholder="Comenatri sobre la cita (opcional)"></textarea>
				</p>
				<p class="text-right">
					<input type="submit" class="px-1 mt-2 border-2 rounded-lg cursor-pointer border-klit-lila hover:bg-klit-lila hover:text-white" value="Desar">
				</p>
			</form>
		</div>
		{% if cites %}
			{% for cita in cites %}
				{% set privateClass = cita.privat ? "text-klit-dark" : "" %}
				<div id="cita_{{cita.id}}" class="mb-4 p-2 rounded-lg shadow-xs hover:shadow-sm shadow-klit-dark {{privateClass}}">
					<p class="indent-4 text-justify">{{cita.cita|nl2br}}</p>
					<p class="text-right italic">Pag.
						{{cita.pagina}}</p>
					{% if cita.comentari %}
						<p class="indent-4 text-justify text-sm">({{cita.comentari}})</p>
					{% endif %}
				</div>
			{% endfor %}
		{% else %}
			<div class="text-center">
				<p>No hi ha cites, afegeix-ne!</p>
			</div>
		{% endif %}
	</div>
</div>
