{# Requereix array llibres #}
<div class="mt-3 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-8 mx-auto place-items-center">
	{% for llibre in llibres %}
		<div>
			<a href="{{basePath}}/llibre/{{llibre.id}}">
				<img class="h-[175px] object-contain rounded-sm hover:shadow-xl" src="data:image/jpg;base64,{{llibre.coberta}}" title="{{llibre.titol}}" alt="{{basePath}}" onerror="this.src='{{basePath}}/img/no_coberta.png'">
			</a>
		</div>
	{% endfor %}
</div>
